h3 {
    margin: 0;
    margin-bottom: 8%;
    padding: 0;
}
.file{
    color: transparent;
}

.span {
    width: 30%;
}

.btn {
    width: 100%;
}

img {
    width: 60%;
    margin-bottom: 5%;
}

div.container {
    clear: both;
}

.file-field {
    margin: 0;
}

.file-field input[type=file] {
    
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.color-registro {
    background-color: #F1492F;
}

input[type="checkbox"].filled-in:checked+label:after{
    background-color: #F1492F;
    border-color:#F1492F;
}

.foto-registro {
    background-color: #00849A;
    color: white;
}

.color-footer {
    width: 100%;
    background-color: #00849A;
}

.color-footer a {
    text-decoration: none;
    color: white;
}

.datos {
    background-color: rgba(138, 52, 43,0.6);
}

@media only screen and (max-width: 992px){
.side-nav a {
     padding: 0; 
    }
}

.logo-nav {
    width: 100%;
}

.background {
    height: 50vh;
}

.side-nav .divider {
    margin: 32vh 0 0 0;
}

.ticket {
    width: 100%;
    margin-top: 45%;
}

.sesion_fondo {
    height: 100vh;
    background-image: url("../assets/img/logopasseante.png");
    background-repeat: repeat;
    background-size: contain;
}