<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/perfilgrid.css">
    <link rel="stylesheet" href="../css/perfilmain.css">
    <link rel="stylesheet" href="../css/perfilstyles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="contenedor-perfil">
        <header>
            <nav class="nav-perfil z-depth-4">   
               <div class="nav-wrapper">
               <img src="../assets/img/logopasseante.png" alt="" class="responsive-img brand-logo left logo-imagen">
                <h4>PERFIL</h4>
                </div>
            </nav>
        </header>
        <div class="foto">
            <div class="fotoCambiableperfil ">
                <i class="material-icons  large icono">person_pin</i>
            </div>
        </div>
        <section class="datosUsuario">
            <!--estos datos se jalan de lo que el usuario ponga en el registro.-->
            <div class=datosPorClase>
                <h6 class=etiqueta for="">NOMBRE</h6>
                <output class="salidadatos divider">Anna</output>
            </div>
            <div class="datosPorClase">
                <h6 for="">CORREO</h6>
                <output class="salidadatos divider">anna@gmail.com</output>
            </div>
            <div class="datosPorClase">
                <h6 for="">TELEFONO</h6>
                <output class="salidadatos divider">524329286</output>
            </div>
            <div class="datosPorClase">
                <h6 for="">CÓDIGO</h6>
                <img src="../assets/img/BarcodeQRSistemaBinario.png" class="codigopng" alt="">
            </div>
        </section>
        <div>
            <button class="btn boton-regresar z-depth-4">REGRESAR</button>
        </div>
        <footer>
            <img src="../assets/img/banner-gif.gif" alt="" class="publicidad-gif">
        </footer>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.min.js"></script>
    
  
</body>
</html>