<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/perfilgrid.css">
    <link rel="stylesheet" href="../css/perfilmain.css">
    <link rel="stylesheet" href="../css/perfilstyles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="contenedor-perfil">
        <header>
            <nav class="nav-perfil z-depth-4">
                <h4>PERFIL</h4>
            </nav>
        </header>
        <div class="foto">
            <div class="fotoCambiableperfil ">
                <i class="material-icons  large icono">person_pin</i>
            </div>
        </div>
        <section class="datosUsuario">
            <!--estos datos se jalan de lo que el usuario ponga en el registro.-->
            <div class=datosPorClase>
                <h6 class=etiqueta for="">NOMBRE</h6>
                <output class="salidadatos divider">Anna</output>
            </div>
            <div class="datosPorClase">
                <h6 for="">CORREO</h6>
                <output class="salidadatos divider">anna@gmail.com</output>
            </div>
            <div class="datosPorClase">
                <h6 for="">TELEFONO</h6>
                <output class="salidadatos divider">524329286</output>
            </div>
            <div class="datosPorClase">
                <h6 for="">CÓDIGO</h6>
                <img src="" alt="">
            </div>
        </section>
        <div>
            <button class="btn boton-regresar">REGRESAR</button>
        </div>
        <footer></footer>
    </div>
    <script src="../js/materialize.min.js"></script>
</body>
</html>