<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/perfilgrid.css">
    <link rel="stylesheet" href="../css/perfilmain.css">
    <link rel="stylesheet" href="../css/perfilstyles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="contenedor-perfil">
        <header>
            <nav class="nav-perfil z-depth-4">
                <div class="nav-wrapper">
                    <img src="../assets/img/logopasseante.png" alt="" class="responsive-img brand-logo left logo-imagen">
                    <h4>RUTAS</h4>
                </div>
            </nav>
        </header>
        <div>
            <button class="btn boton-trans z-depth-4">METRO</button>
        </div>
        <div>
            <button class="btn boton-trans z-depth-4">METROBUS</button>
        </div>
        <div>
            <button class="btn boton-trans z-depth-4">TREN LIGERO</button>
        </div>
        <div>
            <button class="btn boton-trans z-depth-4">SUB-URBANO</button>
        </div>
        <div>
            <button class="btn boton-trans z-depth-4">TROLEBUS</button>
        </div>
        <div>
            <button class="btn boton-trans z-depth-4">RTP</button>
        </div>
        <div>
            <button class="btn boton-trans z-depth-4">ECOBICI</button>
        </div>

        <footer>
            <img src="../assets/img/banner-gif.gif" alt="" class="publicidad-gif">
        </footer>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../js/materialize.min.js"></script>


</body>

</html>
